.flier {
	img {
		width: 100%;
	}
	padding-bottom: 5rem;
}

h4 {
	margin-bottom: 1.5rem;
}

#mailing-list {
	text-align: center;
	background-color: var(--gold);
	width: 100%;
	margin: 0;
	padding: calc(var(--header-height) + 2rem) 2rem 2rem 2rem;
	input[type="text"] {
		height: 4rem;
		width: calc(min(30rem, 20%));
		padding: 0 2rem;
		border-radius: 2rem;
		border: solid black 1px;
	}
	form {
		display: flex;
		justify-content: center;
	}
	#email-input {
		width: calc(min(40rem, 25%));
		margin-left: 1rem;
		border-radius: 2rem 0 0 2rem;
	}
	label {
		// labels exist for accessability
		display: none;
	}
	h4 {
		color: black;
		text-transform: uppercase;
		margin-bottom: 1rem;
	}
	#sub-to-mailing-list {
		cursor: pointer;
		background-color: black;
		border: none;
		height: 4rem;
		padding: 0 2rem;
		border-radius: 0 2rem 2rem 0;
		color: white;
		font-weight: 600;
		&:active {
			scale: 0.9;
		}
	}
}

#upcoming {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
	gap: 2rem;
	.flier {
		width: 100%;
		cursor: pointer;
		transition: all 0.2s;
		&:hover {
			scale: 1.06;
		}
	}
}

#modal {
	display: none;
	opacity: 0;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(0, 0, 0, 0.8);
	.close {
		position: absolute;
		top: 1rem;
		left: 1rem;
		cursor: pointer;
	}
	#modal-content {
		position: relative;
		height: 100%;
	}
	#modal-flier {
		height: 100%;
	}
	&.visible {
		display: flex;
		opacity: 1;
	}
}

#notifications {
	display: flex;
	flex-direction: column;
	background-color: #88008820;
	width: 0;
	height: 100%;
	position: fixed;
	inset: 0 0 0 auto;
	overflow: visible;
	align-items: end;
	padding-top: calc((var(--header-height)) + 1rem);
	z-index: 101;
}