#landing {
	background-image: url(../images/landingBlur.png);
	background-position: center;
	height: 100vh;
	width: 100%;
	user-select: none;
	display: flex;
	align-items: center;
	padding: 5vw;
	position: relative;
	z-index: 1;

	#landing-text {
		height: 25vw;
	}

	.logo {
		height: 25vw;
	}

	.title {
		margin: 1vw 0 3vw 0;
		color: var(--grey);
		font-size: 5vw;
		// animation: name duration timing-function delay iteration-count direction fill-mode;
		animation: title 2s forwards ease-out;
	}
}

#quote {
	display: inline-block;
	width: 70%;
	font-size: 2vw;
	color: var(--grey);
	text-align: center;
	opacity: 0;
	animation: quote 2s forwards ease-out 2s;
}

#down-arrow {
	--arrow-width: 3rem;
	position: absolute;
	bottom: 1rem;
	left: calc(50% - 0.5*var(--arrow-width));
	width: var(--arrow-width);
	cursor: pointer;
}

@keyframes title {
	0% {
		margin-top: 8vw;
		opacity: 0;
	}
	100% {
		margin-top: 1vw;
		opacity: 1;
	}
}

@keyframes quote {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}