@media (max-width: 1055px) {
	header {
		.title {
		font-size: calc(2vw + 1rem);
		}
	
	}
	#menu {
		width: 100vw;
		height: 100vh;
		position: absolute;
		top: 0;
		left: 100vw;
		background-image: url(../images/landingBlur.png);
		background-position: center;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		transition: left 0.4s ease-in-out;
		.item {
			font-size: 2.2rem;
		}
	}
	#landing {
		#landing-text {
			height: unset;
		}
		flex-direction: column;
		justify-content: center;
		.logo {
			height: 50vmin;
		}
		.title {
			text-align: center;
			font-size: 5vmax;
			margin: 5vmin 0;
		}
		#quote {
			font-size: 2vmax;
			width: 100%;
			text-align: center;
		}
	}
	#mailing-list {
		input[type="text"] {
			display: block;
			margin: 0 auto 1rem auto;
			width: calc(min(35rem, 80%));
		}
		#email-input {
			margin: 0 auto 1rem auto;
			border-radius: 2rem;
			width: calc(min(35rem, 80%));
		}
		#sub-to-mailing-list {
			border-radius: 2rem;
			width: calc(min(35rem, 80%));
		}
	}
	#burger {
		display: block;
	}
	#menu.open {
		left: 0;
		#close-menu {
			rotate: 360deg;
		}
	}
	#close-menu {
		display: block;
		position: absolute;
		top: 3rem;
		left: 3rem;
		transition: rotate 0.5s;
	}

	.drop-down {
		display: flex;
		align-items: center;
		flex-direction: column;
		&::after {
			content: "";
		}
	}
	
	.drop-down-content {
		display: flex;
		position: relative;
		flex-direction: column;
		align-items: center;
		padding: 0;
		background-color: transparent;
	}

	#modal {
		#modal-content {
			width: 95%;
			height: unset;
		}
		#modal-flier {
			width: 100%;
			height: unset;
		}
	}

	section {
		width: 100%;
		padding: 0 3vw;
		margin: 0 auto 6rem auto;
	}

	body.pushed {
		section {
			margin: 0 auto 6rem auto;
		}
	}

	.obfus {
		text-decoration: underline;
	}

	.credit {
		justify-content: center;
	}

	.video {
		display: flex;
		justify-content: center;
		background-color: transparent;
		.description {
			display: none;
		}
	}
}