#top-gap {
	height: var(--header-height);
	background-color: #7FB2B5;
}

section {
	// temporary height to give pages size
	height: 100vh;
}

:target:before {
    content: "";
    display: block;
    height: var(--header-height);
    margin: calc( -1 * var(--header-height)) 0 0;
}